@mixin clearfix {
    &::after {
        content: "";
        // need content property of psuedo element will not appear
        display: table;
        clear: both;
    }
}

@mixin  absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER 
/* 
0 - 600:    phone
600-900:    tablet (portrait)
900-1200:   tablet (landscape)
[1200-1800] normal style applies 
<1800:      Big Desktop
@mixin 
*/

@mixin respond-phone {
    @media (max-width: 600px) { @content };
}