*, *::before, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    /* default is 16px */
    /* percentage not to override user setting */
    /* makes 1 rem be 10px */

    @include respond(tab-land) { // width < 1000?
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900? 
        font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12, 12/16 = 75%
    }

}

body {
    padding: 3rem;
    box-sizing: border-box;

    @include respond(tab-port) { 
        padding: 0;
    }
}